

#title{
    height: 40px;
    display: inline-block;
}
.toplink{
    float: right;
}
.container{
    
    text-align: center;
    
    
}

#middle{
    background-image: url("/gif.gif");
    background-size:100%;
    background-repeat: no-repeat;
    background-clip: border-box;
    padding-top:12%;
    padding-bottom: 20%;
    

}

#button1{
    background-color: #4472CA
}

#button1:hover{
    background-color: #48A9a6
}

*{
    /* background-color: #2f323A; */
    /* background-color: #021526;  */
    background-color: black;
 } 

 .j1{
     background-color: transparent;
 }

hr{ color: white}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
.sticky + .content {
    padding-top: 102px;
  }

#bodycontent{
    border: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.toplink{
    /* font-family: 'Josefin Sans', sans-serif; */
    color: white;
    margin: 5px;
}
#left{
    width: 80%;
}

#right{
    width: 20%;
}

h1, h2, h3{
    /* font-family: 'Newsreader', serif; */
    color: white;
}

p{
    /* font-family: 'Josefin Sans', sans-serif; */
    color: white;
}

.row .col{
    background-color: black;
 
}